.linklist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
    height: 50px;
    border: 2px solid black;

}

.active
{
    height: 20px;
    width: 30px;
    background-color: blue;
}